<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let articles of news.articles">
    <img src="{{ articles.urlToImage }}"/>
    <ion-card-content>
      <ion-card-title>{{ articles.title }}</ion-card-title>
      <p> {{ articles.description }}</p><br>
      <h3>By {{ articles.author }}</h3>
      <p>Published at {{ articles.publishedAt }}</p><br>
      <a href="{{ articles.url }}"><ion-icon name="add"></ion-icon></a>
    </ion-card-content>
  </ion-card>
</ion-content>
